{
  "swagger": "2.0",
  "info": {
    "description": "Quran Api service for mobile App",
    "version": "0.0.1",
    "title": "Alquran  API",
    "termsOfService": "",
    "contact": {
      "email": "abdo.gamy2010@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "alquran.dotdev.ae",
  "basePath": "/api",
  "tags": [
    {
      "name": "User",
      "description": "Authentication and Users Api"
    },
    {
      "name": "Contests",
      "description": "Contests Api"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_token",
      "in": "header"
    }
  },
  "paths": {
    "/auth": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Alquran Login",
        "description": "Alquran Login",
        "operationId": "login",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "required": true
                },
                "password": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/auth/resendCode": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Resend Code Message",
        "description": "Resend Code Message",
        "operationId": "auth.resend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "email sentز"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Mail Verify",
        "description": "Mail Verify",
        "operationId": "auth.verify",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Verification Completed"
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Alquran register",
        "description": "Alquran register",
        "operationId": "register",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "required": true
                },
                "password": {
                  "type": "string",
                  "required": true
                },
                "name": {
                  "type": "string",
                  "required": true
                },
                "image_data": {
                  "type": "string"
                },
                "lang": {
                  "type": "string",
                  "default": "ar",
                  "description": "Profile language"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/profile/update": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Alquran profile update",
        "description": "Alquran  profile update",
        "operationId": "profile.update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Please Update only what you want to update",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "image_data": {
                  "type": "string"
                },
                "lang": {
                  "type": "string",
                  "default": "ar",
                  "description": "Profile language"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/profile/token_reset": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Alquran token reset",
        "description": "Alquran  toekn reset",
        "operationId": "profile.token_reset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/contests": {
      "get": {
        "tags": [
          "Contests"
        ],
        "summary": "Contests Listing",
        "description": "Contests Listing",
        "operationId": "contests.index",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "offset": {
                  "type": "integer"
                },
                "limit": {
                  "type": "integer"
                },
                "status": {
                  "type": "string",
                  "example": "coming|opened|expired|joined"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "contests": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Contest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contests/details": {
      "get": {
        "tags": [
          "Contests"
        ],
        "summary": "Contest details",
        "description": "Contest details",
        "operationId": "contests.details",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contest_id": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "contest": {
                  "$ref": "#/definitions/Contest"
                }
              }
            }
          }
        }
      }
    },
    "/contests/create": {
      "post": {
        "tags": [
          "Contests"
        ],
        "summary": "Create contests",
        "description": "Create contests",
        "operationId": "contests.create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "required": true
                },
                "goal": {
                  "type": "string",
                  "required": true,
                  "minimum": "9"
                },
                "start_at": {
                  "type": "string",
                  "required": true,
                  "example": "2018-09-19 14:43:19"
                },
                "expired_at": {
                  "type": "string",
                  "required": true,
                  "example": "2018-09-19 14:43:19"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "contest": {
                  "$ref": "#/definitions/Contest"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/contests/current": {
      "get": {
        "tags": [
          "Contests"
        ],
        "summary": "Retrieve the current contests ",
        "description": "Retrieve the current contests ",
        "operationId": "contests.current",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "contest": {
                  "$ref": "#/definitions/Contest"
                }
              }
            }
          }
        }
      }
    },
    "/contests/join": {
      "post": {
        "tags": [
          "Contests"
        ],
        "summary": "Join to contests",
        "description": "Join to contests",
        "operationId": "contests.join",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Join current user to contest id",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contest_id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "contest": {
                  "$ref": "#/definitions/Contest"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/contests/leave": {
      "post": {
        "tags": [
          "Contests"
        ],
        "summary": "Leave  contests",
        "description": "Leave to contests",
        "operationId": "contests.leave",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Leave current user to contest id",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contest_id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ayah": {
      "get": {
        "tags": [
          "AlQuran"
        ],
        "summary": "Retrieve Specific Ayah",
        "description": "Retrieve Specific Ayah",
        "operationId": "ayah",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Retrieve Specific Ayah",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ayah_id": {
                  "type": "integer",
                  "required": true,
                  "example": 473938
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "ayah": {
                  "$ref": "#/definitions/Ayah"
                }
              }
            }
          }
        }
      }
    },
    "/surah": {
      "get": {
        "tags": [
          "AlQuran"
        ],
        "summary": "Retrieve Specific Surah",
        "description": "Retrieve Specific Surah",
        "operationId": "surah",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Retrieve Specific Surah",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ayah_id": {
                  "type": "integer",
                  "required": true,
                  "example": 473938
                },
                "offset": {
                  "type": "integer",
                  "required": false,
                  "example": 5
                },
                "limit": {
                  "type": "integer",
                  "required": false,
                  "example": 10
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "surah": {
                  "$ref": "#/definitions/Surah"
                },
                "ayat": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Ayah"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/page": {
      "get": {
        "tags": [
          "AlQuran"
        ],
        "summary": "Retrieve Specific Page",
        "description": "Retrieve Specific Page",
        "operationId": "page",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Retrieve Specific Page",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "page_id": {
                  "type": "integer",
                  "required": true,
                  "example": 102
                },
                "offset": {
                  "type": "integer",
                  "required": false,
                  "example": 10
                },
                "limit": {
                  "type": "integer",
                  "required": false,
                  "example": 10
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "$ref": "#/definitions/Page"
                }
              }
            }
          }
        }
      }
    },
    "/juz": {
      "get": {
        "tags": [
          "AlQuran"
        ],
        "summary": "Retrieve Specific Juz",
        "description": "Retrieve Specific Juz",
        "operationId": "juz",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Retrieve Specific Page",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "juz_id": {
                  "type": "integer",
                  "required": true,
                  "example": 29
                },
                "offset": {
                  "type": "integer",
                  "required": false,
                  "example": 10
                },
                "limit": {
                  "type": "integer",
                  "required": false,
                  "example": 10
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "surat": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Surah"
                  }
                },
                "ayat": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Ayah"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "AlQuran"
        ],
        "summary": "Returns ayahs that match a keyword",
        "description": "Returns ayahs that match a keyword",
        "operationId": "search",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Returns ayahs that match a keyword",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "q": {
                  "type": "string",
                  "required": true,
                  "example": "النحل"
                },
                "limit": {
                  "type": "integer",
                  "required": false,
                  "example": 10
                },
                "offset": {
                  "type": "integer",
                  "required": false,
                  "example": 5
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "ayat": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Ayah"
                  }
                },
                "count": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks": {
      "get": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "List bookmarks for user",
        "description": "list bookmarks for user",
        "operationId": "bookmarks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "List bookmarks for user",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "ayat": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Ayah"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/create": {
      "post": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Save new bookmark for user",
        "description": "Save new bookmark for user",
        "operationId": "bookmark.create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Save new bookmark for user",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ayah_id": {
                  "type": "integer",
                  "required": true,
                  "example": 473938
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/delete": {
      "post": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Delete bookmark for user",
        "description": "Delete bookmark for user",
        "operationId": "bookmark.delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Delete bookmark for user",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ayah_id": {
                  "type": "integer",
                  "required": true,
                  "example": 473938
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/clear": {
      "post": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Clear bookmarks for user",
        "description": "Clear bookmarks for user",
        "operationId": "bookmark.clear",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "description": "Clear bookmarks for user",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "photo_id": {
          "type": "integer"
        },
        "last_login": {
          "type": "integer"
        },
        "role_id": {
          "type": "integer"
        },
        "status": {
          "type": "integer"
        },
        "lang": {
          "type": "string"
        },
        "color": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "about": {
          "type": "string"
        },
        "google_plus": {
          "type": "string"
        },
        "twitter": {
          "type": "string"
        },
        "facebook": {
          "type": "string"
        },
        "photo": {
          "$ref": "#/definitions/Media"
        }
      }
    },
    "Media": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "provider_id": {
          "type": "string"
        },
        "provider_image": {
          "type": "string"
        },
        "length": {
          "type": "integer"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      }
    },
    "Ayah": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "number": {
          "type": "integer"
        },
        "text": {
          "type": "string"
        },
        "hizbQuarter": {
          "type": "string"
        },
        "numberInSurah": {
          "type": "string"
        },
        "sajda": {
          "type": "boolean"
        },
        "page_id": {
          "type": "integer"
        },
        "surah": {
          "$ref": "#/definitions/Surah"
        }
      }
    },
    "Surah": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "englishname": {
          "type": "string"
        },
        "englishtranslation": {
          "type": "string"
        },
        "revelationCity": {
          "type": "string"
        },
        "numberOfAyats": {
          "type": "integer"
        }
      }
    },
    "Page": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "ayahs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Ayah"
          }
        }
      }
    },
    "Juz": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "ayat": {
          "$ref": "#/definitions/Ayah"
        },
        "surat": {
          "$ref": "#/definitions/Surah"
        }
      }
    },
    "Contest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "goal": {
          "type": "string"
        },
        "start_at": {
          "type": "string"
        },
        "expired_at": {
          "type": "string"
        },
        "user_id": {
          "type": "integer"
        },
        "is_expired": {
          "type": "boolean"
        },
        "is_joined": {
          "type": "boolean"
        },
        "is_opened": {
          "type": "boolean"
        },
        "member_counter": {
          "type": "integer"
        },
        "winner_id": {
          "type": "integer"
        },
        "creator": {
          "$ref": "#/definitions/User"
        },
        "winner": {
          "$ref": "#/definitions/User"
        }
      }
    },
    "ContestWithMembers": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "goal": {
          "type": "string"
        },
        "start_at": {
          "type": "string"
        },
        "expired_at": {
          "type": "string"
        },
        "user_id": {
          "type": "integer"
        },
        "is_expired": {
          "type": "boolean"
        },
        "is_joined": {
          "type": "boolean"
        },
        "is_opened": {
          "type": "boolean"
        },
        "member_counter": {
          "type": "integer"
        },
        "winner_id": {
          "type": "integer"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          }
        },
        "creator": {
          "$ref": "#/definitions/User"
        },
        "winner": {
          "$ref": "#/definitions/User"
        }
      }
    }
  }
}