{
  "swagger": "2.0",
  "info": {
    "description": "Quran Api service for mobile App",
    "version": "0.0.1",
    "title": "Alquran  API",
    "termsOfService": "",
    "contact": {
      "email": "abdo.gamy2010@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "alquran.dotdev.ae",
  "basePath": "/api",
  "tags": [
    {
      "name": "User",
      "description": "Authentication and Users Api"
    },
    {
      "name": "Contests",
      "description": "Contests Api"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_token",
      "in": "header"
    }
  },
  "paths": {
    "/auth": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Alquran Login",
        "description": "Alquran Login",
        "operationId": "login",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "required": true
                },
                "password": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Alquran register",
        "description": "Alquran register",
        "operationId": "register",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "required": true
                },
                "password": {
                  "type": "string",
                  "required": true
                },
                "name": {
                  "type": "string",
                  "required": true
                },
                "image_data": {
                  "type": "string"
                },
                "lang": {
                  "type": "string",
                  "default": "ar",
                  "description": "Profile language"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/profile/update": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Alquran profile update",
        "description": "Alquran  profile update",
        "operationId": "profile.update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Please Update only what you want to update",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "image_data": {
                  "type": "string"
                },
                "lang": {
                  "type": "string",
                  "default": "ar",
                  "description": "Profile language"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/profile/token_reset": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Alquran token reset",
        "description": "Alquran  toekn reset",
        "operationId": "profile.token_reset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/contests/create": {
      "post": {
        "tags": [
          "Contests"
        ],
        "summary": "Create contests",
        "description": "Create contests",
        "operationId": "contests.create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Client Login",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "required": true
                },
                "goal": {
                  "type": "string",
                  "required": true,
                  "minimum": "9"
                },
                "start_at": {
                  "type": "string",
                  "required": true,
                  "example":"2018-09-19 14:43:19"
                },
                "expired_at": {
                  "type": "string",
                  "required": true,
                  "example":"2018-09-19 14:43:19"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ayah":{
      "get":{
        "tags": [
          "AlQuran"
        ],
        "summary": "Retrieve Specific Ayah",
        "description": "Retrieve Specific Ayah",
        "operationId": "ayah",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name":"query",
            "description": "Retrieve Specific Ayah",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ayah_id": {
                  "type": "integer",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "ayah": {
                  "$ref": "#/definitions/Ayah"
                }
              }
            }
          }
        }
      }
    }
    },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "photo_id": {
          "type": "integer"
        },
        "last_login": {
          "type": "integer"
        },
        "role_id": {
          "type": "integer"
        },
        "status": {
          "type": "integer"
        },
        "lang": {
          "type": "string"
        },
        "color": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "about": {
          "type": "string"
        },
        "google_plus": {
          "type": "string"
        },
        "twitter": {
          "type": "string"
        },
        "facebook": {
          "type": "string"
        },
        "photo": {
          "$ref": "#/definitions/Media"
        }
      }
    },
    "Media": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "provider_id": {
          "type": "string"
        },
        "provider_image": {
          "type": "string"
        },
        "length": {
          "type": "integer"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      }
    },
    "Ayah": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "number": {
          "type": "integer"
        },
        "text": {
          "type": "string"
        },
        "hizbQuarter": {
          "type": "string"
        },
        "numberInSurah": {
          "type": "string"
        },
        "sajda": {
          "type": "boolean"
        },
        "surah":{
          "$ref":"#/definitions/Surah"
        }
      }
    },
    "Surah": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "integer"
        },
        "englishname": {
          "type": "string"
        },
        "englishtranslation": {
          "type": "string"
        },
        "revelationCity": {
          "type": "string"
        },
        "numberOfAyats": {
          "type": "integer"
        }
      }
    },
    "Contest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "goal": {
          "type": "string"
        },
        "start_at": {
          "type": "string"
        },
        "expired_at": {
          "type": "string"
        },
        "user_id": {
          "type": "integer"
        },
        "winner_id": {
          "type": "integer"
        },
        "creator": {
          "$ref": "#/definitions/User"
        },
        "winner": {
          "$ref": "#/definitions/User"
        }
      }
    }
  }
}